<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityparcel">

    <!-- authority -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- serviceHome package -->
        <activity android:name=".serviceHome.ServiceMainActivity"/>
        <activity android:name=".serviceHome.FindParcelActivity"/>
        <activity android:name=".serviceHome.RegisterParcelActivity"/>
        <!-- login package-->
        <activity android:name=".login.LoginWindowActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- member register package-->
        <activity android:name=".webView.DaumWebViewActivity"/>
        <activity android:name=".memberRegister.RegisterTermsActivity" />
        <activity android:name=".memberRegister.SmsValidityActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".memberRegister.RegisterAddressFormActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".memberRegister.RegisterFormActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- root package-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>